/*global*/
*{
    margin:0;
    padding:0;
}

body{
    font-family: arial;
}

p{
    line-height: 2;
}

h3,h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img{
    max-width: 100%;
}

.img-container{
    max-width: 100%;
}


a{
    text-decoration:  none; /*remove underline from a link*/
    padding: 0.5rem;
}


/*Utilities*/
.container{
    width: 80%;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
}

.read-more-btn{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}

.more-info-btn{
    display: inline-block;
    background-color: #804000;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;

}

.flex-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row; /*i can switch it to column, just if i want them display like column*/
    /*flex-direction: column-reverse; just make it display as columns, but switch the order upside down*/
}

.flex-container-bar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
     /*the unique difference between .flex-container is that one is order-directioned in rows, and the other one in columns*/
}

.flex-container-courses{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    
}

.flex-divide{
    margin-left: 5rem;
}

section{
    width: 40%;
}

/*Header*/
.site-init{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 350px;
    color: white;
    text-align: center;
    padding: 1rem;
}

.site-init a{
    color: white;
}

.site-secondary{
    background-color: black;
    height: 100px;
    padding: 1rem;
}

.site-secondary a, .site-secondary h1{
    color: white;
}


/*Footer black background and 120px for the heigth*/
footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    color: white;
    
    flex-direction: column;

    
}

footer a{
    color: white;
}


/*CONTACT*/
.form-container{
    display:flex;
    flex-direction: column;
    
}

form{
    padding:10px;
    margin-top: -80px; /*it wont overflow with the image because I let the class container to have auto margin top and bottom*/
    background-color: white;
}

.input-container{
    margin-bottom: 20px;
}

.input-container input{
    border:1px solid black;
    padding:3px;
    width:75%;
} 

.input-container label{
    display: inline-block;
    width: 80px;
}
