/*global*/
*{
    margin:0;
    padding:0;
}

body{
    font-family: arial;
}

p{
    line-height: 2;
}

h3,h2{
    margin-left: 1rem;
}

img{
    max-width: 100%;
}


/*Utilities*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.read-more-btn{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}

.more-info-btn{
    display: inline-block;
    background-color: #804000;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;

}


/*Header*/
.site-init{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
}

/*Body*/

/*Footer*/